<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" href="image/123.jpeg" type="image/x-icon" />
    <title>Taks Agung prayogi purba</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="image/logo-removebg-preview.png"
            alt="logo"
            width="60"
            height="50"
          />
        </a>
        <button
          class="navbar-toggler bg-light align-center"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse text-center"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-warning" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/add-project">Add Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/testimoni">Testimoni</a>

            </li>
            <ul class="dropdown-menu bg-light">
              <li><a
                  class="dropdown-item text-light text-"
                  href="/"
                >Home</a></li>
              <li><a class="dropdown-item text-light" href="/add-project">Add
                  Project</a></li>
              <li><a
                  class="dropdown-item text-light"
                  href="/testimoni"
                >Testimoni</a></li>
              <li><a class="dropdown-item text-light" href="/contact">Contact me</a>
              </li>
            </ul>

          </ul>
          <form class="d-block">
            <a
              class="nav-link text-light rounded bg-black fs-5 d-flex justify-content-center"
              href="/contact"
            >Contact me</a>
          </form>
        </div>
      </div>
    </nav>
    <div
      class="container-sm d-flex mt-5 grid bg-light d-none d-lg-flex col align-center justify-content-center"
    >

      <div class="w-60">
        <h3 style=" text-align: center " class="mt-1">Hello guys</h3>
        <div class="col-10">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            tenetur enim ea ipsam reiciendis, explicabo quam. Et exercitationem
            minima magnam architecto maxime molestiae deserunt error debitis
            dolores! Distinctio, nihil praesentium.
          </p>
        </div>
        <div class="mt-5 pl-5">
          <a
            class="btn btn-dark"
            href="https://api.whatsapp.com/send/?phone=082363747909&text=Hi%2C+Kak+Agung%3F&type=phone_number&app_absent=0"
            role="button"
          >Contact me</a>

          <a href="#" class="text-dark" style="text-decoration: none;">Download
            cv
          </a>
        </div>

        <div class="mt-5">
          <a href="https://github.com/agungprayogi16" target="_blank">
            <i class="fa-brands fa-github p-3 g-col-6 fs-1 text-black"></i></a>
          <a href="https://www.instagram.com/_agungprayogi16/" target="_blank">
            <i
              class="fa-brands fa-square-instagram p-3 g-col-6 fs-1 text-black"
            ></i></a>
          <a href="https://twitter.com/home" target="_blank">
            <i
              class="fa-brands fa-square-twitter p-3 g-col-6 fs-1 text-black"
            ></i></a>
          <a href="https://web.facebook.com/?_rdc=1&_rdr">
            <i
              class="fa-brands fa-square-facebook p-3 g-col-6 fs-1 text-black"
            ></i></a>
        </div>
      </div>
      <div class="w-40 bg-light">
        <div class="card me d-flex" style="width: 18rem;border: none;">
          <img src="image/123.jpeg" class="card-img-top img-fluid" alt="..." />
          <div class="card-body bg-light">
            <p class="fs-1">
              <h2 style="text-align: center;">Agung Prayogi </h2>
              <h6 style="text-align: center;">Fullstack Devplover</h6>
            </p>
          </div>
        </div>
      </div>

      <hr class="mt-5" />
      <hr class="mt-5" />

    </div>
    <div
      class="container-sm d-flex mt-5 grid bg-light d-block d-lg-none row align-center justify-content-center"
    >

      <div class="w-60">
        <h3 style=" text-align: center " class="mt-1">Hello guys</h3>
        <div class="col-10">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            tenetur enim ea ipsam reiciendis, explicabo quam. Et exercitationem
            minima magnam architecto maxime molestiae deserunt error debitis
            dolores! Distinctio, nihil praesentium.
          </p>
        </div>
        <div class="mt-5 pl-5">
          <a
            class="btn btn-dark"
            href="https://api.whatsapp.com/send/?phone=082363747909&text=Hi%2C+Kak+Agung%3F&type=phone_number&app_absent=0"
            role="button"
          >Contact me</a>

          <a href="#" class="text-dark" style="text-decoration: none;">Download
            cv
          </a>
        </div>

        <div class="mt-5">
          <a href="https://github.com/agungprayogi16" target="_blank">
            <i class="fa-brands fa-github p-3 g-col-6 fs-1 text-black"></i></a>
          <a href="https://www.instagram.com/_agungprayogi16/" target="_blank">
            <i
              class="fa-brands fa-square-instagram p-3 g-col-6 fs-1 text-black"
            ></i></a>
          <a href="https://twitter.com/home" target="_blank">
            <i
              class="fa-brands fa-square-twitter p-3 g-col-6 fs-1 text-black"
            ></i></a>
          <a href="https://web.facebook.com/?_rdc=1&_rdr">
            <i
              class="fa-brands fa-square-facebook p-3 g-col-6 fs-1 text-black"
            ></i></a>
        </div>
      </div>
      <div class="w-40 bg-light">
        <div class="card me d-flex" style="width: 18rem;border: none;">
          <img src="image/123.jpeg" class="card-img-top img-fluid" alt="..." />
          <div class="card-body bg-light">
            <p class="fs-1">
              <h2 style="text-align: center;">Agung Prayogi </h2>
              <h6 style="text-align: center;">Fullstack Devplover</h6>
            </p>
          </div>
        </div>
      </div>

      <hr class="mt-5" />
      <hr class="mt-5" />

    </div>
    <div class="d-flex row mt-5 bg-light align-center">

      <h1 class="d-flex justify-content-center"> My Project</h1>

      {{#each cardData}}
        <div
          class="card me d-flex mt-5 bg-light"
          style="width: 21rem;border: none;"
        >
          <div class="row d-flex justify-content-center">
            <div class="col-md-8">
              <div>
                <img src="{{this.image}}" class="w-100" alt="..." />
                <h5>{{this.projectTitle}}</h5>
                <h6>{{this.duration}}</h6>

                <p>{{this.description}}</p>
                <a href="/add-project/{{@index}}">lihat selengkap nya.....</a>
                <div style="display: flex;gap: 10px;" class="mt-5">
                  <i class="fa-brands fa-google-play fs-2"></i>
                  <i class="fa-brands fa-android fs-2"></i>
                  <i class="fa-brands fa-java fs-2"></i>
                </div>
                <div class="d-flex justify-content-between gap-3 mt-3">
                  <button type="reset" class="btn btn-dark w-50">Clear</button>
                  <button
                    onclick="whenFormEmpty()"
                    type="submit"
                    class="btn btn-dark w-50"
                  >Send</button>
                </div>

              </div>
            </div>

          </div>
        </div>
      {{/each}}
    </div>

  </body>

</html>